.limpa{
	width:100%;
	clear:both;
	min-height:5px;
}
body{
	background:#ffffff url(<?=base_url('sites/admin/_images/fundo.png')?>);
}
.gphtopo{
	width:100%;
	clear:both;
	height:215px;
	background:#680000;
	box-shadow:0px 0px 30px #666666;
}
.gphtopo_infos{
	width:1000px;
	clear:both;
	margin:0px auto;
}
.gphtopo_infos--logo{
	width:25%;
	float:left;
	height:215px;
	background:url(<?=base_url('sites/admin/_images/gopublish2.png')?>) center left no-repeat;
}
.gphtopo_infos--menu{
	width:74%;
	float:right;
}


.userinfos{
	width:100%;
	clear:both;
	border-bottom:1px dotted #333;
}
.userinfos_dados{
	width:1000px;
	margin:0px auto;
}
.userinfos_dados--avatar{
	width:10%;
	height:100px;
	overflow:hidden !important;
	float:left;
	background:#666;
	margin:10px 10px 0 0;
	border:1px solid #999;
	box-shadow:0px 0px 3px #666666;
}
.userinfos_dados--dados{
	width:88%;
	float:right;
	margin:60px 0 0 0;
	font:16px Arial, Helvetica, sans-serif;
	color:#333;
}
.userinfos_dados--dados b{
	color:#680000;
	font-size:18px;
}
.userinfos_dados--dados a{
	color:#680000;
}













