@font-face {
	font-family: 'BariolBoldBold';
	src: url('<?=base_url('sites/_fontes/bariol_bold-webfont.eot')?>');
	src: url('<?=base_url('sites/_fontes/bariol_bold-webfont.eot?#iefix')?>') format('embedded-opentype'), 
	url('<?=base_url('sites/_fontes/bariol_bold-webfont.woff')?>') format('woff'), 
	url('<?=base_url('sites/_fontes/bariol_bold-webfont.ttf')?>') format('truetype'), 
	url('<?=base_url('sites/_fontes/bariol_bold-webfont.svg#BariolBoldBold')?>') format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'BariolLightLight';
	src: url('<?=base_url('sites/_fontes/bariol_light-webfont.eot')?>');
	src: url('<?=base_url('sites/_fontes/bariol_light-webfont.eot?#iefix')?>') format('embedded-opentype'), 
	url('<?=base_url('sites/_fontes/bariol_light-webfont.woff')?>') format('woff'), 
	url('<?=base_url('sites/_fontes/bariol_light-webfont.ttf')?>') format('truetype'), 
	url('<?=base_url('sites/_fontes/bariol_light-webfont.svg#BariolLightLight')?>') format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'BariolRegularRegular';
	src: url('<?=base_url('sites/_fontes/bariol_regular-webfont.eot')?>');
	src: url('<?=base_url('sites/_fontes/bariol_regular-webfont.eot?#iefix')?>') format('embedded-opentype'), 
	url('<?=base_url('sites/_fontes/bariol_regular-webfont.woff')?>') format('woff'), 
	url('<?=base_url('sites/_fontes/bariol_regular-webfont.ttf')?>') format('truetype'), 
	url('<?=base_url('sites/_fontes/bariol_regular-webfont.svg#BariolRegularRegular')?>') format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'BariolThinRegular';
	src: url('<?=base_url('sites/_fontes/bariol_thin-webfont.eot')?>');
	src: url('<?=base_url('sites/_fontes/bariol_thin-webfont.eot?#iefix')?>') format('embedded-opentype'), 
	url('<?=base_url('sites/_fontes/bariol_thin-webfont.woff')?>') format('woff'), 
	url('<?=base_url('sites/_fontes/bariol_thin-webfont.ttf')?>') format('truetype'), 
	url('<?=base_url('sites/_fontes/bariol_thin-webfont.svg#BariolThinRegular')?>') format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'CubanoRegular';
	src: url('<?=base_url('sites/_fontes/cubano-regular-webfont.eot')?>');
	src: url('<?=base_url('sites/_fontes/cubano-regular-webfont.eot?#iefix')?>') format('embedded-opentype'), 
	url('<?=base_url('sites/_fontes/cubano-regular-webfont.woff')?>') format('woff'), 
	url('<?=base_url('sites/_fontes/cubano-regular-webfont.ttf')?>') format('truetype'), 
	url('<?=base_url('sites/_fontes/cubano-regular-webfont.svg#CubanoRegular')?>') format('svg');
	font-weight: 400;
	font-style: normal
}

@font-face {font-family: 'Museo-500';
	src: url('<?=base_url('sites/_fontes/fc69f335a3572699b83489296276a58f.eot')?>');
	src: url('<?=base_url('sites/_fontes/fc69f335a3572699b83489296276a58f.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/fc69f335a3572699b83489296276a58f.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/fc69f335a3572699b83489296276a58f.ttf')?>') format('truetype');}
    
@font-face {font-family: 'ProximaNovaA-Thin';
	src: url('<?=base_url('sites/_fontes/dd6f9d5e766bbea171c176330676d8ea.eot')?>');
    src: url('<?=base_url('sites/_fontes/dd6f9d5e766bbea171c176330676d8ea.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/dd6f9d5e766bbea171c176330676d8ea.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/dd6f9d5e766bbea171c176330676d8ea.ttf')?>') format('truetype');}
    
@font-face {font-family: 'ProximaNovaS-Thin';
	src: url('<?=base_url('sites/_fontes/73a78a7d14971f9cc6eaa3a765f973b2.eot')?>');
    src: url('<?=base_url('sites/_fontes/73a78a7d14971f9cc6eaa3a765f973b2.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/73a78a7d14971f9cc6eaa3a765f973b2.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/73a78a7d14971f9cc6eaa3a765f973b2.ttf')?>') format('truetype');}
    
@font-face {font-family: 'ProximaNovaS-Semibold';
	src: url('<?=base_url('sites/_fontes/a14fadf5e3a72ebc258878276f11cdd4.eot')?>');
    src: url('<?=base_url('sites/_fontes/a14fadf5e3a72ebc258878276f11cdd4.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/a14fadf5e3a72ebc258878276f11cdd4.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/a14fadf5e3a72ebc258878276f11cdd4.ttf')?>') format('truetype');}
    
@font-face {font-family: 'ProximaNovaA-Regular';
	src: url('<?=base_url('sites/_fontes/c7ed503fd3098162f4f53db1b770c8d5.eot')?>');
    src: url('<?=base_url('sites/_fontes/c7ed503fd3098162f4f53db1b770c8d5.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/c7ed503fd3098162f4f53db1b770c8d5.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/c7ed503fd3098162f4f53db1b770c8d5.ttf')?>') format('truetype');}
    
@font-face {font-family: 'ProximaNovaS-Light';
	src: url('<?=base_url('sites/_fontes/29f71ae2202112cd1cf0ac7016b3236b.eot')?>');
    src: url('<?=base_url('sites/_fontes/29f71ae2202112cd1cf0ac7016b3236b.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/29f71ae2202112cd1cf0ac7016b3236b.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/29f71ae2202112cd1cf0ac7016b3236b.ttf')?>') format('truetype');}
    
@font-face {font-family: 'ProximaNovaA-Light';
	src: url('<?=base_url('sites/_fontes/36bb710e8fe348d8c0c03fda5faff0d5.eot')?>');
    src: url('<?=base_url('sites/_fontes/36bb710e8fe348d8c0c03fda5faff0d5.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/36bb710e8fe348d8c0c03fda5faff0d5.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/36bb710e8fe348d8c0c03fda5faff0d5.ttf')?>') format('truetype');}
    

@font-face {font-family: 'ProximaNovaS-Bold';
	src: url('<?=base_url('sites/_fontes/33ecbf411d812e02c2bae055023306f2.eot')?>');
    src: url('<?=base_url('sites/_fontes/33ecbf411d812e02c2bae055023306f2.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/33ecbf411d812e02c2bae055023306f2.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/33ecbf411d812e02c2bae055023306f2.ttf')?>') format('truetype');}

@font-face {font-family: 'ProximaNovaA-Bold';
	src: url('<?=base_url('sites/_fontes/39d1ae2af3f4ebc2306fc05c00308d5f.eot')?>');
    src: url('<?=base_url('sites/_fontes/39d1ae2af3f4ebc2306fc05c00308d5f.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/39d1ae2af3f4ebc2306fc05c00308d5f.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/39d1ae2af3f4ebc2306fc05c00308d5f.ttf')?>') format('truetype');}

@font-face {font-family: 'ProximaNovaA-Semibold';
	src: url('<?=base_url('sites/_fontes/7528f4fe55cb3251bb836ec0b4511c42.eot')?>');
    src: url('<?=base_url('sites/_fontes/7528f4fe55cb3251bb836ec0b4511c42.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/7528f4fe55cb3251bb836ec0b4511c42.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/7528f4fe55cb3251bb836ec0b4511c42.ttf')?>') format('truetype');}

@font-face {font-family: 'ProximaNovaS-Regular';
	src: url('<?=base_url('sites/_fontes/51ee1d5427e20ac1f4d645a61bb19f59.eot')?>');
    src: url('<?=base_url('sites/_fontes/51ee1d5427e20ac1f4d645a61bb19f59.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/51ee1d5427e20ac1f4d645a61bb19f59.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/51ee1d5427e20ac1f4d645a61bb19f59.ttf')?>') format('truetype');}

@font-face {font-family: 'ProximaNovaT-Thin';
	src: url('<?=base_url('sites/_fontes/b31c95ca85afdfd8681a04e9a6a5bb58.eot')?>');
    src: url('<?=base_url('sites/_fontes/b31c95ca85afdfd8681a04e9a6a5bb58.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/b31c95ca85afdfd8681a04e9a6a5bb58.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/b31c95ca85afdfd8681a04e9a6a5bb58.ttf')?>') format('truetype');}

@font-face {font-family: 'ProximaNova-Regular';


	src: url('<?=base_url('sites/_fontes/6d3bcabe7a803ae6fcdd7e47c1c5f135.eot')?>');
    src: url('<?=base_url('sites/_fontes/6d3bcabe7a803ae6fcdd7e47c1c5f135.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/6d3bcabe7a803ae6fcdd7e47c1c5f135.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/6d3bcabe7a803ae6fcdd7e47c1c5f135.ttf')?>') format('truetype');}

@font-face {font-family: 'ProximaNova-Semibold';
	src: url('<?=base_url('sites/_fontes/8c4ca46fc1e4008f5a90fabe72f92b88.eot')?>');
    src: url('<?=base_url('sites/_fontes/8c4ca46fc1e4008f5a90fabe72f92b88.eot?#iefix')?>') format('embedded-opentype')
    ,url('<?=base_url('sites/_fontes/8c4ca46fc1e4008f5a90fabe72f92b88.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/8c4ca46fc1e4008f5a90fabe72f92b88.ttf')?>') format('truetype');}

@font-face {font-family: 'ProximaNova-Light';
	src: url('<?=base_url('sites/_fontes/842dbd395d12ce251a03727028b17d6e.eot')?>');
    src: url('<?=base_url('sites/_fontes/842dbd395d12ce251a03727028b17d6e.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/842dbd395d12ce251a03727028b17d6e.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/842dbd395d12ce251a03727028b17d6e.ttf')?>') format('truetype');}

@font-face {font-family: 'ProximaNova-Bold';
	src: url('<?=base_url('sites/_fontes/7966d13ae10b3b322b5a786199815f7a.eot')?>');
    src: url('<?=base_url('sites/_fontes/7966d13ae10b3b322b5a786199815f7a.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/7966d13ae10b3b322b5a786199815f7a.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/7966d13ae10b3b322b5a786199815f7a.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-Light';
	src: url('<?=base_url('sites/_fontes/6b81e15db5e8e87203c1740727a9e9e1.eot')?>');
    src: url('<?=base_url('sites/_fontes/6b81e15db5e8e87203c1740727a9e9e1.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/6b81e15db5e8e87203c1740727a9e9e1.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/6b81e15db5e8e87203c1740727a9e9e1.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-Black';
	src: url('<?=base_url('sites/_fontes/404b9b1662cdde1c19d7f5a3eef44c2d.eot')?>');
    src: url('<?=base_url('sites/_fontes/404b9b1662cdde1c19d7f5a3eef44c2d.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/404b9b1662cdde1c19d7f5a3eef44c2d.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/404b9b1662cdde1c19d7f5a3eef44c2d.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-LightItalic';
	src: url('<?=base_url('sites/_fontes/35dbc2f465137e9f3e5591632d08bb2d.eot')?>');
    src: url('<?=base_url('sites/_fontes/35dbc2f465137e9f3e5591632d08bb2d.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/35dbc2f465137e9f3e5591632d08bb2d.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/35dbc2f465137e9f3e5591632d08bb2d.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-BlackItalic';
	src: url('<?=base_url('sites/_fontes/011cf9dfa1817de7503712ead3e11d8c.eot')?>');
    src: url('<?=base_url('sites/_fontes/011cf9dfa1817de7503712ead3e11d8c.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/011cf9dfa1817de7503712ead3e11d8c.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/011cf9dfa1817de7503712ead3e11d8c.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-Italic';
	src: url('<?=base_url('sites/_fontes/df2a1f15300bbcc2285ea32b487881ec.eot')?>');
    src: url('<?=base_url('sites/_fontes/df2a1f15300bbcc2285ea32b487881ec.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/df2a1f15300bbcc2285ea32b487881ec.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/df2a1f15300bbcc2285ea32b487881ec.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-XboldItalic';
	src: url('<?=base_url('sites/_fontes/7828ad5e02bf0d41b77f6e89461dc90d.eot')?>');
    src: url('<?=base_url('sites/_fontes/7828ad5e02bf0d41b77f6e89461dc90d.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/7828ad5e02bf0d41b77f6e89461dc90d.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/7828ad5e02bf0d41b77f6e89461dc90d.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial';
	src: url('<?=base_url('sites/_fontes/5a3a1e122d9321a5614f3d0c98730857.eot')?>');
    src: url('<?=base_url('sites/_fontes/5a3a1e122d9321a5614f3d0c98730857.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/5a3a1e122d9321a5614f3d0c98730857.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/5a3a1e122d9321a5614f3d0c98730857.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-Heavy';
	src: url('<?=base_url('sites/_fontes/4c7a13804887871455d549a1e6f6c397.eot')?>');
    src: url('<?=base_url('sites/_fontes/4c7a13804887871455d549a1e6f6c397.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/4c7a13804887871455d549a1e6f6c397.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/4c7a13804887871455d549a1e6f6c397.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-Bold';
	src: url('<?=base_url('sites/_fontes/3cad43ecfc06fe9ba4f1b31b6e5c44db.eot')?>');
    src: url('<?=base_url('sites/_fontes/3cad43ecfc06fe9ba4f1b31b6e5c44db.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/3cad43ecfc06fe9ba4f1b31b6e5c44db.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/3cad43ecfc06fe9ba4f1b31b6e5c44db.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-Medium';
	src: url('<?=base_url('sites/_fontes/bd82f8a3ac385418180b5136a6849ca5.eot')?>');
    src: url('<?=base_url('sites/_fontes/bd82f8a3ac385418180b5136a6849ca5.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/bd82f8a3ac385418180b5136a6849ca5.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/bd82f8a3ac385418180b5136a6849ca5.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-HeavyItalic';
	src: url('<?=base_url('sites/_fontes/f8628f34ba02d4a97c9488e12d6b73f6.eot')?>');
    src: url('<?=base_url('sites/_fontes/f8628f34ba02d4a97c9488e12d6b73f6.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/f8628f34ba02d4a97c9488e12d6b73f6.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/f8628f34ba02d4a97c9488e12d6b73f6.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-Xbold';
	src: url('<?=base_url('sites/_fontes/3af55282d7c5ccd73e2c0463593c0ce1.eot')?>');
    src: url('<?=base_url('sites/_fontes/3af55282d7c5ccd73e2c0463593c0ce1.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/3af55282d7c5ccd73e2c0463593c0ce1.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/3af55282d7c5ccd73e2c0463593c0ce1.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-BoldItalic';
	src: url('<?=base_url('sites/_fontes/339674073baeb81d892babf5cdb3b90c.eot')?>');
    src: url('<?=base_url('sites/_fontes/339674073baeb81d892babf5cdb3b90c.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/339674073baeb81d892babf5cdb3b90c.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/339674073baeb81d892babf5cdb3b90c.ttf')?>') format('truetype');}

@font-face {font-family: 'VolkswagenSerial-MediumItalic';
	src: url('<?=base_url('sites/_fontes/38b47d4fa27b3805c7e6f51372ab7ea2.eot')?>');
    src: url('<?=base_url('sites/_fontes/38b47d4fa27b3805c7e6f51372ab7ea2.eot?#iefix')?>') format('embedded-opentype'),
    url('<?=base_url('sites/_fontes/38b47d4fa27b3805c7e6f51372ab7ea2.woff')?>') format('woff'),
    url('<?=base_url('sites/_fontes/38b47d4fa27b3805c7e6f51372ab7ea2.ttf')?>') format('truetype');}

